/* ==========================================================
   Local Fonts
   ========================================================== */

/* ---------- Empirica Headline ---------- */

@font-face {
  font-family: "Empirica Headline";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Headline/EmpiricaHeadline-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Empirica Headline";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Headline/EmpiricaHeadline-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ---------- Empirica Text ---------- */

@font-face {
  font-family: "Empirica Text";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Text/EmpiricaText-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Empirica Text";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Text/EmpiricaText-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ---------- Mallory ---------- */

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
 
