body.canopy-type-search
.canopy-search-tabs-wrapper
button.inline-flex.items-center.gap-2.rounded-md.border.border-slate-200.bg-white {
  background-color: #009688;
  color: #ffffff;
  border-color: #009688;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
}

body.canopy-type-search
.canopy-search-tabs-wrapper
button.inline-flex.items-center.gap-2.rounded-md.border.border-slate-200.bg-white:hover {
  background-color: #008080;
  color: #ffffff;
  border-color: #008080;
}

.canopy-type-work h1 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.clover-viewer {
  .clover-viewer-content {
    flex-direction: column;

    > div,
    > aside {
      width: 100%;
    }

    > aside {
      height: 500px;
    }
  }

  .clover-iiif-annotation-item {
    button {
      cursor: pointer;
    }
  }
}

/* ==========================================================
   Local Fonts
   ========================================================== */

/* ---------- Empirica Headline ---------- */

@font-face {
  font-family: "Empirica Headline";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Headline/EmpiricaHeadline-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Empirica Headline";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Headline/EmpiricaHeadline-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ---------- Empirica Text ---------- */

@font-face {
  font-family: "Empirica Text";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Text/EmpiricaText-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Empirica Text";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Empirica%20Text/EmpiricaText-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ---------- Mallory ---------- */

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mallory";
  src: url("https://nationalgalleryofart.github.io/accademia-research/fonts/Mallory/MalloryMPCmpct-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
 
